[AUTOUPDATE]
# Version of the new release
VERSION=0.9.3

# Download URL of the ZIP archive
ARCHIVEURL=https://github.com/mschlenstedt/LoxBerry-Plugin-SortingManager/releases/download/v0.9.3/sortingmanager-0.9.3.zip

# URL for further information about this release
INFOURL=https://github.com/mschlenstedt/LoxBerry-Plugin-SortingManager/releases/tag/v0.9.3
